$accent: #2B4074;
$text-color: #4A4A4A;
$btn-color: #F9F6E5;


%OpenSans-Regular-400{
    font-family: 'OpenSans-Regular';
    font-weight: 400;
}
%OpenSans-Italic-400{
    font-family: 'OpenSans-Italic';
    font-weight: 400;
}
%OpenSans-BoldItalic-500{
    font-family: 'OpenSans-BoldItalic';
    font-weight: 500;
}